/* ARTICLE */

/* HOME */
#section--home {
    padding: 6em 0em 12em;
}


/* CAREER */
#section--career {
    padding: 12em 0em 16em;
}


/* FAVORITE */
#section--favorite {
    padding: 12em 0em 16em;
}

/* PHOTOS */
#section--photos div {
    width: 75%;
}

#section--photos img {
    max-width: 100%;
    height: auto;
}

/* GAME */
#section--game {
    padding: 6em 0 12em;
}

