/* NAVIGATION */
nav .menu li a {
    padding: 20px 0;
}

/* ARTICLE */

/* COMMON */
section h1 {
    font-size: 35px;
}

section h1:after {
    width: 330px;
}

section p {
    font-size: 25px;
    line-height: 35px;
}


/* HOME */
#section--home {
    padding: 2em 0em 10em;
}

#section--home img {
    width: 200px;
    height: auto;
}

#section--home .social-icons li {
    width: 2rem;
    height: 2rem;
}

#section--home .social-icons li a {
    font-size: 20px;
}

/* CAREER */
#section--career {
    padding: 4em 0em 12em;
}

/* FAVORITE */
#section--favorite {
    padding: 4em 0em 15em;
}


/* PHOTOS */
#section--photos h1:after {
    width: 280px;
}

#section--photos img {
    margin: 20px 0;
}

/* GAME */
#section--game {
    padding: 2em 0 10em;
}