/* COMMON */
html {
    scroll-behavior: smooth;
  }

body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #333;
    padding-top: 60px;
}

/* NAVIGATION */
nav .menu {
    display: grid;
    grid-template-rows: repeat(1, 60px);
    grid-template-columns: repeat(5, 1fr);
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color:rgb(255, 255, 255);
}

nav .menu li {
    text-align: center;
}

/* border-bottom 테스트용 */
/* nav .menu .menu-border-bottom {
    border-bottom: 0.5rem solid rgb(185, 183, 183);
} */

nav .menu li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 20px;
}

nav .menu li:hover {
    border-bottom: 0.5rem solid rgb(185, 183, 183);
}

nav .menu li a:hover {
    color: rgb(185, 183, 183);
}

/* ARTICLE */

/* COMMON */
section {
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
    padding: 19em 0em 19em;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25),
                0 1px 25px rgba(0, 0, 0, .75);
}

section::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
}

section h1 {
    padding-top: 50px;
    position: relative;
    font-size: 50px;
}

section h1:after {
    content: "";
    display: block;
    width: 500px;
    border-bottom: 1px solid #bcbcbc;
    margin: 20px auto;
}

section p {
    position: relative;
    font-size: 40px;
    line-height: 50px;
}

/* HOME */
#section--home {
    position: relative;
    background-image: url(../img/ogp.jpg);
    text-align: center;
    padding: 10em 0em 15em;
}

#section--home img {
    position: relative;
    border-radius: 100%;
    padding: 0.5rem;
    border: 1px solid rgba(255,255,255,.25);
    background-color: rgba(255,255,255,.08);
}

#section--home .social-icons li {
    display: inline-flex;
    border-radius: 100%;
    border: 1px solid rgba(255,255,255,.25);
    background-color: rgba(255,255,255,.08);
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    margin-top: 1.5rem;
}

#section--home .social-icons li:hover {
    background-color: rgba(255,255,255,.2);
}

#section--home .social-icons li a {
    position: relative;
    color: rgba(255,255,255,.5);
    text-decoration: none;
    text-shadow: none;
    font-size: 25px;
}


/* CAREER */
#section--career {
    position: relative;
    background-image: url(../img/career.jpg);
    text-align: center;
}

/* FAVORITE */
#section--favorite {
    position: relative;
    background-image: url(../img/favorite.jpg);
    text-align: center;
}

/* PHOTOS */
#section--photos {
    padding: 2em 0em 4em;
    position: relative;
    background-image: url(../img/photos.jpg);
}

#section--photos div {
    margin: 0 auto;
    text-align: center;
}

#section--photos img {
    border-radius: 0.2rem;
    position: relative;
    display: inline;
    margin: 20px 20px;
}

/* GAME */
#section--game {
    padding: 8em 0 10em;
    position: relative;
    background-image: url(../img/game.jpg);
    text-align: center;
}

#section--game button {
    border-radius: 4px;
    position: relative;
    margin: 20px auto;
    padding: 5px;
    font-size: 15px;
}

#description a {
    position: relative;
    text-decoration: none;
    color: black;
}

#section--game table {
    margin: 0 auto;
}

#section--game td {
    position: relative;
    border: 10px solid white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}